$accent-color: #d8ae5e;

$color-text-primary: #000000;
$color-text-secondary: #ffffff;

$color-bg-lighter: #ffffff;
$color-bg-darker: #f4f4f4;

$link-text-color: #f4f4f4;
$link-bg-color: $accent-color;
